/* Medium Layout: 1367px. */

@media only screen and (min-width: 1200px) and (max-width: 1367px) {}



/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /*-----------------------
    Home One
    -----------------------*/
    .main-menu nav ul li a {
        padding: 29px 13px;
    }
    .screen-area img.screen-img {
        bottom: 171px;
        width: 434px;
        height: 453px;
    }

    /*-----------------------
        Blog Page
    -----------------------*/
    .blog-post-area {
        padding-top: 90px;
    }
    .bp-with-sidebar {
        padding-bottom: 80px;
    }
    .pagination-area {
        padding-bottom: 70px;
    }

    /*-----------------------
        Blog Details
    -----------------------*/
    .blog-details{
        padding: 100px 0px;
    }

    .page-banner {
        margin-top: 76px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /*-----------------------
    Home One
    -----------------------*/
    .menu-area{
        display: block;
    }
    .logo {
        padding: 21px 0px 17px;
    }
    .slider-area{
        height: 646px;
        padding-top: 0;
    }
    .service-single h2 {
        font-size: 22px;
    }
    .service-single p{
        font-size: 14px;
    }
    .about-area {
        padding: 90px 0px 70px;
    }
    .feature-area {
        padding: 90px 0px 40px;
    }
    .ft-content{
        margin-top: 0;
    }
    .ft-single h2 {
        font-size: 22px;
    }
    .screen-area,
    .testimonial-area,
    .pricing-area,
    .clinet-area,
    .contact-area {
        padding: 90px 0px;
    }
    .screen-area img.screen-img {
        bottom: 137px;
        width: 529px;
        height: 584px;
    }
    .prc-head h5 {
        font-size: 35px;
    }
    .prc-head span {
        font-size: 21px;
        margin-bottom: 7px;
    }
    .team-area {
        padding: 90px 0px 70px;
    }
    .single-team{
        margin-bottom: 20px;
    }
    .download-btns a{
        margin-bottom: 20px;
    }
    .blog-post{
        padding: 90px 0px 20px;
    }
    .single-post{
        margin-bottom: 50px;
        border-bottom: 1px solid #efebeb;
        padding-bottom: 30px;
    }
    
    /*-----------------------
        Blog Page
    -----------------------*/
    .blog-post-area {
        padding-top: 80px;
    }
    .bp-with-sidebar {
        padding-bottom: 70px;
    }
    .pagination-area {
        padding-bottom: 70px;
    }

    /*-----------------------
        Blog Details
    -----------------------*/
    .blog-details{
        padding: 90px 0px;
    }
    .sidebar--area {
        padding-left: 0;
    }
    .crumbs-inner h2 {
        font-size: 31px;
    }
}



/* Max Size: 320px. */

@media screen and (max-width: 991px) {
    .screen-slider .owl-nav {
        display: none;
    }
}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .screen-area img.screen-img{
        display: none;
    }

    .download-app-buttons {
        text-align: center !important;
    }

    .item {
        padding-top: 20px;
        min-height: 380px;
    }

    .slider-inner{
        text-align: center !important;
    }

    h2.banner-heading-1{
        text-align: center !important;
    }
}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 481px) and (max-width: 767px) {
    /*-----------------------
    Home One
    -----------------------*/
    /*preloader hide*/
    #preloader {
        display: none!important;
    }
    .menu-area{
        display: block;
    }
    .logo {
        padding: 10px 0px 2px;
    }
    .slicknav_btn {
        margin-top: -38px;
    }
    .slider-area {
        height: auto;
        padding: 90px 0px 40px;
    }
    .slider-inner{
        text-align: left;
    }
    .slider-inner h2 {
        font-size: 33px;
    }
    .slider-inner h5 {
        font-size: 23px;
        line-height: 27px;
        margin-bottom: 42px;
        margin-top: 5px;
    }
    .service-single{
        margin-bottom: 30px;
    }
    .service-single h2 {
        font-size: 25px;
    }
    .about-area {
        padding: 60px 0px 60px;
    }
    .section-title p {
        font-size: 16px;
    }
    .feature-area {
        padding: 80px 0px 40px;
    }
    .ft-content{
        margin-top: 0;
    }
    .ft-screen-img{
        margin-bottom: 40px;
    }
    .ach-single{
        margin-bottom: 70px;
    }
    .achivement-area{
        padding: 80px 0px 10px;
    }
    .screen-area,
    .testimonial-area,
    .video-area,
    .call-to-action,
    .clinet-area,
    .contact-area {
        padding: 80px 0px;
    }
    .screen-slider{
        margin-top: 0;
    }
    .screen-slider .owl-dots{
        margin-top: 40px;
    }
    .video-area h2 {
        font-size: 25px;
    }
    .pricing-area,
    .team-area{
        padding: 80px 0px 60px;
    }
    .single-price,
    .single-team{
        margin-bottom: 30px;
    }
    .download-btns a{
        margin: 5px 0px;
    }
    .blog-post{
        padding: 80px 0px 40px;
    }
    .single-post{
        margin-bottom: 50px;
        border-bottom: 1px solid #efebeb;
        padding-bottom: 30px;
    }
    .contact_info{
        padding-left: 0;
        margin-top: 40px;
    }

    /*-----------------------
        Blog Page
    -----------------------*/
    .crumbs-area {
        display: block;
        height: 354px;
    }
    .crumbs-inner {
        width: 80%;
        margin-top: 148px;
        padding: 40px 0px;
    }
    .blog-post-area {
        padding-top: 70px;
    }
    .bp-with-sidebar {
        padding-bottom: 60px;
    }
    .pagination-area {
        padding-bottom: 80px;
        padding-top: 20px;
    }

    /*-----------------------
        Blog Details
    -----------------------*/
    .blog-details {
        padding: 70px 0px;
    }
    .children {
        padding-left: 12px;
    }
    .sidebar--area {
        padding-left: 0;
        max-width: 420px;
        margin: auto;
        margin-top: 55px;
    }
    .crumbs-inner h2 {
        font-size: 26px;
    }

    .download-app-buttons {
        text-align: center !important;
    }
    
    .carousel-indicators {
        top: 100%;
    }

    .ptb--100 {
        padding: 30px 0 !important;
    }

    .section-title {
        margin-bottom: 30px !important;
    }

    .section-title h2 {
        font-size: 27px;
        line-height: 30px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .ft-content {
        text-align: center !important;
    }

    .ft-content img{
        float: none !important;
        margin: 0 0 10px 0 !important;
    }

    .ft-content.rtl .meta-content {
        text-align: center;
    }

    .ft-single {
        margin-bottom: 25px;
    }

    .ach-single {
        margin-bottom: 35px;
    }

    .ach-single .icon {
        margin-bottom: 15px;
    }

    .ach-single>p, .ach-single>span {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .footer-area p {
        text-align: center;
    }

    .page-banner {
        margin-top: 53px;
    }

    .c-social {
        margin-top: 20px;
        text-align: center;
    }
}


/* Wide Mobile Layout: 600px - 767px. */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .col-6 {
        float: left;
        width: 50%;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {

    /*-----------------------
    Home One
    -----------------------*/
    /*preloader hide*/
    #preloader {
        display: none!important;
    }
    .menu-area{
        display: block;
    }
    .logo {
        padding: 10px 0px 2px;
    }
    .slicknav_btn {
        margin-top: -38px;
    }
    .slider-area {
        height: auto;
        padding: 70px 0 20px;
    }
    .slider-inner{
        text-align: center;
    }
    .slider-inner h2 {
        font-size: 30px;
    }
    .slider-inner h5 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .service-single{
        margin-bottom: 30px;
    }
    .service-single h2 {
        font-size: 25px;
    }
    .about-area {
        padding: 50px 0px 50px;
    }
    .section-title p {
        font-size: 16px;
    }
    .feature-area {
        padding: 70px 0px 30px;
    }
    .ft-content{
        margin-top: 0;
    }
    .ft-screen-img{
        margin-bottom: 40px;
    }
    .ach-single{
        margin-bottom: 70px;
    }
    .achivement-area{
        padding: 70px 0px 0px;
    }
    .screen-area,
    .testimonial-area,
    .video-area,
    .call-to-action,
    .clinet-area,
    .contact-area {
        padding: 70px 0px;
    }
    .screen-slider{
        margin-top: 0;
    }
    .screen-slider .owl-dots{
        margin-top: 40px;
    }
    .video-area h2 {
        font-size: 25px;
    }
    .pricing-area,
    .team-area{
        padding: 70px 0px 40px;
    }
    .single-price,
    .single-team{
        margin-bottom: 30px;
    }
    .download-btns a{
        margin: 5px 0px;
    }
    .blog-post{
        padding: 70px 0px 20px;
    }
    .single-post{
        margin-bottom: 50px;
        border-bottom: 1px solid #efebeb;
        padding-bottom: 30px;
    }
    .contact_info{
        padding-left: 0;
        margin-top: 40px;
    }

    /*-----------------------
        Blog Page
    -----------------------*/
    .crumbs-area {
        display: block;
        height: 354px;
    }
    .crumbs-inner h2 {
        font-size: 22px;
    }
    .crumbs-inner {
        width: 100%;
        margin-top: 148px;
        padding: 40px 0px;
    }
    .blog-post-area {
        padding-top: 60px;
    }
    .bp-with-sidebar {
        padding-bottom: 60px;
    }
    .pagination-area {
        padding-bottom: 70px;
        padding-top: 20px;
    }
    .pagination ul {
        padding: 4px 0px;
    }
    .pagination ul li a,
    .pagination ul li span {
        padding: 10px 5px;
        font-size: 11px;
    }

    /*-----------------------
        Blog Details
    -----------------------*/
    .blog-details {
        padding: 60px 0px;
    }
    .children {
        padding-left: 12px;
    }
    .sidebar--area {
        padding-left: 0;
        margin-top: 60px;
    }
     /*preloader hide*/
     #preloader{
        display: none!important;
     }

     .slider-inner a.expand-video {
        display: inline-block;
        position: relative;
        height: 45px;
        width: 230px;
        background: transparent;
        border: 2px solid #fff;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0;
        padding-left: 35px;
        margin-bottom: 5px;
    }

    .slider-inner a i {
        position: absolute;
        left: 13px;
        top: 3px;
        height: 35px;
        width: 35px;
        border: 2px solid #fff;
        border-radius: 50%;
        line-height: 32px;
        font-size: 16px;
        padding-left: 4px;
    }

    .slider-inner a.cta {
        display: inline-block;
        position: relative;
        height: 45px;
        width: 230px;
        background: transparent;
        border: 2px solid #fff;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0;
    }

    .carousel-indicators {
        top: 95%;
    }

    .ptb--100 {
        padding: 20px 0 !important;
    }

    .section-title {
        margin-bottom: 20px !important;
    }

    .section-title h2 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 10px;
        padding-bottom: 15px;
    }

    .ft-content {
        text-align: center !important;
    }

    .ft-content img{
        float: none !important;
        margin: 0 0 10px 0 !important;
    }

    .ft-content.rtl .meta-content {
        text-align: center;
    }

    .ft-single {
        margin-bottom: 10px;
    }

    .ach-single {
        margin-bottom: 35px;
    }

    .ach-single .icon {
        margin-bottom: 15px;
    }

    .ach-single>p, .ach-single>span {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .ach-single h5 {
        font-size: 15px;
    }

    .footer-area p {
        text-align: center;
    }

    .page-banner {
        margin-top: 53px;
    }

    .c-social {
        margin-top: 20px;
        text-align: center;
    }
}